.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    min-height: 100vh;
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.card{
    border: 1px solid #2c3e50;
    border-radius: 5px;
    height: 50vh;
    width: 40vh;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 13px -3px rgba(0,0,0,0.36);
    z-index: 20;
    background-color: aliceblue;
    color: #fff;
    flex-direction: column;
    transition: transform 0.5s;
    text-align: center;
    padding: 10px;

    
}
.card::before{
    content: '';
    position: absolute;
    padding: 50px;
    top: 80%;
    left: -15%;
    border-radius: 50%;
    background-color: #FC356D;
    transition: all 1s;
    z-index: -1;
    
}
.card:hover{
    transform: translateY(-10%);
}
.card:hover::before{
    transform: scale(2);
}
.card::after{
    content: '';
    position: absolute;
    padding: 50px;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
  padding: 10px;
    background:radial-gradient(#2c3e50 , #1c1c1c );
    transition: all 1s;
    z-index: -2;
}
.card .logo{
    height: 100px;
    width: 100px;
    border: 2px solid #FC356D;
    border-radius: 50%;
    background: url('https://images.unsplash.com/photo-1700757407653-721348f7abae?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
}
.card button{
    padding: 5px 10px;
    background-color: #FC356D;
    color: #fff;
    border-style: none;
    border-radius: 5px;
}